apiVersion: v1
kind: Service
metadata:
  name: hello-python
  labels:
    app: hello-python
spec:
  type: LoadBalancer
  selector:
    app: hello-python
  ports:
    - name: http
      port: 80
      targetPort: 8080
