name: Build, Push, Deploy
on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME: hello-python
  # Change this:
  DOCKERHUB_USERNAME: saikumar2204
  K8S_NAMESPACE: default

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            docker.io/${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            docker.io/${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy manifests
        run: |
          kubectl -n "${{ env.K8S_NAMESPACE }}" apply -f deployment.yaml
          kubectl -n "${{ env.K8S_NAMESPACE }}" apply -f service.yaml

      - name: Update image to the pushed SHA tag
        run: |
          kubectl -n "${{ env.K8S_NAMESPACE }}" set image deployment/hello-python \
            hello-python=docker.io/${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          kubectl -n "${{ env.K8S_NAMESPACE }}" rollout status deployment/hello-python
